body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f6f6f6;
}

img {
  max-width: 100%;
}
div span{
  text-align: center;
  display: block;
}

h2 {
  /* font-size: 1rem; */
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: pink;
  background-color: #ec0e33;
  margin-bottom: 10px;
}

.header__search input[type=text] {
  padding: 6px;
  border: none;
  background-color: pink;
}

.header__search input[type=submit] {
  float: right;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  color: #ec0e33;
}

.wrapper {
  padding: 0 0.9rem;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 1.5rem;
}

.news__card {
  text-decoration: none;
  color: #080808;
  background-color: #fff;
  padding: 14px;
}

.news__card:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.news-single {
  background-color: #fff;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}